/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .l-wrapper, .l-wrapper--boxed, main > .notifications-container {

        max-width: 100%;
    }
}

body{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container, .l-wrapper, .l-wrapper--boxed, main>.notifications-container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.l-header {
    background-color: #fff;
    margin-bottom: 0;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    margin-bottom: 1em;
}

div#_desktop_contact_link {
    margin-left: 2em;
}

.user-info.header__rightitem {
    margin-right: 2em;
}

.blockcart.cart-preview.header__rightitem.active {
    margin-right: 2em;
}

.menu {
    padding-bottom: 0;
}
.menu-top {
    display: flex;
    justify-content: left;
    margin: 0;
    position: relative;
    text-align: left;
    background-color: black;
}

.menu__item-link--top {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: .5rem;
    border-right: solid 1px;
}

.menu__item-header a:hover, .menu__item-link--top:hover{
    color: gray;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #fdfefc;
    margin-top: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
    margin-left: 1em;
}

.highlighted-informations.text-center.p-2.no-variants.visible--desktop {
    background-color: black;
    color: white;
}

li.category-sub__item.category-sub__item--0.clearfix {
    border-top: solid 1px;
}

.l-footer, .l-footer .account-list a, .l-footer .cms-page-link {
    color: #ffffff;
    background-color: black;
}

.footer__title {
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

.footer__title:hover {
    color: #ffffff;
}

.footer-container, .footer-container .h3, .footer-container .links .title .h3, .footer-container a, .footer-container li a, .footer-container .links ul>li a {
    color: #ffffff;
}

.footer-container {
    font-weight: 100;
}